body {
    scroll-behavior: smooth;
    overflow-y: hidden;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.d-none {
    display: none;
}

.responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #22318B;
    display: none;
}

.fontS20 {
    font-weight: 900;
    font-size: 20px;
}

.flipped {
    direction: rtl;
}


/* Content */

.mainContainer {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 25px;
}

.categoryMain {
    position: absolute;
    left: 0;
    margin-left: 320px;
}

.detailsMain {
    position: absolute;
    left: 0;
    margin-left: 600px;
}

.dueDateMain {
    position: absolute;
    right: 0;
    margin-right: 80px;
}

.DateToBeShown {
    cursor: pointer;
}

.inputfieldDate {
    border: none;
    border-radius: 5px;
}

.pushMain {
    position: absolute;
    right: 0;
    margin-right: 5px;
}

.todoContainer {
    position: relative;
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: #d6d5dc;
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 20px 0px;
    margin-left: 50px;
    min-height: 88px
}

.todoContainer:hover {
    background-color: #bdbdbd;
    transition: all 225ms ease-in-out;
}


/* Catogery colors */

.High {
    border: 3px solid rgb(255, 147, 147)!important;
}

.Intermediate {
    border: 3px solid rgb(255 231 97 / 84%) !important;
}

.Low {
    border: 3px solid rgba(65, 170, 30, 0.5)!important;
}

.EditAndEmployeeContainer {
    position: relative;
    display: flex;
}

.employeeContainer {
    display: flex;
    max-width: 300px;
    flex-wrap: wrap;
}

.employeeContainer img {
    width: 60px;
    border-radius: 50%;
    border: white solid 4px;
    margin-right: 10px;
    margin-left: 20px;
}

.employeeImg {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 8px;
}

.employeeImg img {
    width: 60px;
    border-radius: 50%;
    border: white solid 4px;
    margin-right: 10px;
    margin-left: 20px;
}

.hover {
    transition: all 225ms ease-in-out;
    cursor: pointer;
}

.hover:hover {
    transform: translateY(-15px) scaleY(1.2) scaleX(1.2);
    transition: all 200ms ease-in-out;
    box-shadow: 1px 18px 7px 0px grey;
}

.catogeryTasks {
    position: absolute;
    left: 0;
    margin-left: 310px;
}

.detailsTasks {
    position: absolute;
    left: 0;
    margin-left: 600px;
    padding-left: 8px;
    text-align: left;
    align-items: center;
    width: 400px;
    height: 120px;
    word-break: break-all;
}

.detailsTasks:hover {
    cursor: pointer;
}

.p-top {
    padding-top: 30px;
}

.edit-img {
    width: 20px;
    position: absolute;
    top: 15px;
    left: 30px;
    transition: all 225ms ease-in-out;
}

.pencil1 {
    width: 15px;
    position: absolute;
    top: 0px;
    left: 7px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

.pencil2 {
    width: 15px;
    position: absolute;
    top: -20px;
    cursor: pointer;
}

.pencil3 {
    width: 15px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: -15px;
}

.edit-img:hover {
    transform: translateY(-6px) scaleY(1.2) scaleX(1.2);
    background-color: #f7f3f3a6;
    padding: 5px;
    transition: all 225ms ease-in-out;
    border-radius: 10%;
    box-shadow: 0px 8px 5px 2px grey;
}

.change {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 120px;
}

.inputField {
    position: absolute;
    left: 0;
    top: -15px;
    padding: 8px;
    height: calc(100% - 50px);
    width: calc(100% - 16px);
    text-align: left;
    border: 0px solid;
    border-radius: 8px;
    resize: none;
    overflow-y: auto;
    z-index: 1;
    background-color: #eaeaea;
}

.buttons {
    position: absolute;
    left: 0;
    display: flex;
    margin-top: 72px;
}

.buttonSave {
    margin-top: 8px;
    margin-right: 8px;
    width: 60px;
    border: 0px solid;
    border-radius: 5px;
}

.buttonSave:hover {
    cursor: pointer;
}

.buttonAbort {
    margin-top: 8px;
    margin-left: 8px;
    width: 60px;
    border: 0px solid;
    border-radius: 5px;
}

.buttonAbort:hover {
    cursor: pointer;
}

.dueDateTasks {
    position: absolute;
    right: 0;
    margin-right: 80px;
}

.deleteContainer {
    position: absolute;
    bottom: 16px;
    right: 6px;
    font-weight: bold;
    cursor: pointer;
    padding: 6px;
    font-size: 12px;
    color: red;
    text-align: center;
}

.editEmployees {
    display: flex;
    align-items: center;
    position: absolute;
    left: 6px;
    bottom: 0px;
    font-weight: bold;
    cursor: pointer;
    padding: 6px;
    font-size: 12px;
    color: #22318b;
    text-align: center;
    transition: all 225ms ease-in-out;
}

.editEmployees:hover {
    transform: scaleX(1.1)scaleY(1.1) translateY(5px);
    transition: all 225ms ease-in-out;
    text-shadow: 6px -8px 2px grey;
}

.pushToBoard {
    position: absolute;
    right: 0;
    top: 20px;
    margin-right: 8px;
    margin-right: 8px;
    height: 35px;
    transition: all 225ms ease-in-out;
    border-radius: 100%;
    background-color: #f7f3f3a6;
    z-index: 0;
}

.pushToBoard:hover {
    cursor: pointer;
    transform: translateY(5px);
    transition: all 225ms ease-in-out;
    box-shadow: 0px -10px 4px 0px grey;
}

.trash-bin {
    width: 25px;
    transition: all 225ms ease-in-out;
}

.trash-bin:hover {
    transform: translateY(-6px) scaleY(1.2) scaleX(1.2);
    background-color: #f7f3f3a6;
    padding: 5px;
    transition: all 225ms ease-in-out;
    border-radius: 100%;
    box-shadow: 0px 8px 5px 2px grey;
}

.hover-push {
    position: absolute !important;
    right: 0;
    top: 0;
}

.push {
    position: absolute;
    top: 50px;
    left: -63px;
    text-align: center;
    width: 60px;
}


/*info box*/

.infobox {
    position: relative;
    display: inline-block;
    transition: all 225ms ease-in-out;
}

.infobox .info-box-text {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: rgb(34, 49, 139);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-left: -60px;
    border: 1px solid rgb(34, 49, 139);
}

.infobox .info-box-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(34, 49, 139) transparent transparent transparent;
}

.infobox:hover .info-box-text {
    visibility: visible;
    transition: all 225ms ease-in-out;
}

.details-edit {
    bottom: 15px;
    left: 20px;
}

.date-edit {
    bottom: 32px;
    left: 12px;
}

.employe-edit {
    top: -56px;
    left: 20px;
}

.push-text {
    top: -25px;
    left: -25px;
}

.slideOut {
    animation: slideOut 900ms ease-in-out;
}

#snackbar,
#snackbar-error,
#snackbar-delete {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #e9e9f1;
    /* Black background color */
    color: #22318b;
    ;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
    font-weight: bold;
    border: 2px solid #22318b;
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show,
#snackbar-error.show,
#snackbar-delete.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes slideOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        margin-left: 1000px;
        opacity: 0;
    }
}


/* Responsive */

@media (max-width: 1350px) {
    .detailsTasks,
    .detailsMain {
        margin-left: 500px;
    }
}

@media (max-width: 1450px) {
    .detailsTasks {
        width: 350px;
    }
    .change {
        width: 350px;
    }
}

@media (max-width: 1400px) {
    .detailsTasks {
        width: 250px;
    }
    .change {
        width: 250px;
    }
}

@media (max-width: 1300px) {
    .detailsTasks {
        max-width: 170px;
    }
    .change {
        width: 170px;
    }
}

@media (max-width: 1200px) {
    .responsive {
        display: flex;
    }
    .hideCont {
        display: none;
    }
    .mainContainer {
        margin-top: 0;
    }
    .todoContainer {
        height: fit-content !important;
        min-height: fit-content;
        flex-direction: column;
        margin-top: 0px !important;
        margin-bottom: 50px !important;
        margin-left: 22px;
        margin-top: 70px;
        transition: all 115ms ease-in-out;
        margin-bottom: 0;
    }
    .assignedToTasks {
        position: absolute;
        top: 0;
        margin-top: 16px;
    }
    .pushToBoard {
        position: absolute;
        top: 2px;
        right: 5px;
        margin-top: 8px;
        margin-right: 8px;
    }
    .employeeContainer {
        justify-content: center;
        flex-wrap: wrap;
        overflow: visible;
        width: 100%;
        padding: 20px;
    }
    .editEmployees {
        top: -325px;
        bottom: 1px;
    }
    .catogeryTasks {
        position: relative;
        margin-left: 0;
        margin-bottom: 32px;
        top: 0;
    }
    .detailsTasks {
        position: relative;
        margin-left: 0;
        margin-bottom: 32px;
        margin-right: 0px;
        text-align: center;
        align-items: center;
        overflow-y: auto;
        width: none;
        min-width: 260px;
        height: 120px;
    }
    .change {
        width: 100%;
        height: 100%;
    }
    .inputField {
        top: 0;
        margin-top: 8px;
    }
    .buttons {
        margin-top: 90px;
        left: auto;
        right: auto;
    }
    .dueDateTasks {
        position: relative;
        margin-right: 0px;
    }
    .pencil1 {
        left: -30px;
    }
    .dueDateTasks {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .tooltiptext {
        bottom: -19px !important;
        left: -72px !important;
    }
    .pencil2 {
        position: relative;
        top: 0;
        left: -15px;
    }
    .pencil3 {
        top: 25px;
        left: -28px;
    }
    .pencil1,
    .pencil2,
    .pencil3 {
        width: 18px;
    }
    .employeeContainer img {
        margin: 0px 10px;
    }
    .editEmp {
        position: absolute;
        width: 38px;
        left: -38px;
    }
    .editDate {
        position: absolute;
        width: 38px;
        top: -3px;
        left: 0px;
    }
    .editDetail {
        left: -10px !important;
    }
    .info-box-text {
        display: none;
    }
}